html {
    height: 100%;
}

body {
    font-family: system-ui, sans-serif;
    min-height: 100%;
}

#app {
    min-height: 70vh;
}

#homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

#plannerPlanContainer {
    max-width: 700px;
    margin: auto;
}